body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../images/library.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  font-size: 0.8rem;
  position: relative;
  height: 100%;
  transition: background-size 0.5s ease;
}

.color-layer {
  background: linear-gradient(rgba(128, 81, 80, 0.4), rgba(51, 22, 22, 0.6));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.form-container {
  width: 70vw;
  max-height: 69vh;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.678);
  overflow: hidden;
}

.info-section {
  background: linear-gradient(#931c19, #610101);
  border-radius: 1.5rem 0 0 1.5rem;
  transition: all 0.4s ease;
  overflow: hidden;
}

.info-section:hover {
  filter: brightness(1.1);
}

.image {
  height: 80%;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
  transform-origin: center bottom;
  object-position: center bottom;
}

.image img:hover {
  transform: scale(1.15);
}

.form-section {
  overflow-y: auto;
  max-height: 80vh;
}

.form-section h1 {
  color: #610101;
  text-shadow: 1px 1px 2px rgba(97, 1, 1, 0.2);
  padding-top: 1.5rem;
  font-size: clamp(1rem, 2vw, 1.7rem);
}

form {
  width: 80%;
  max-height: 70vh;
  margin-top: 0.5rem;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #931c19 #f5f5f5;
}

label {
  font-weight: bold;
  color: #610101;
  margin-top: 1.5rem;
}

span {
  color: red;
}

.input {
  margin: 1rem 1rem 0 0.5rem;
}

.input-field {
  border: 1px solid #d1d5db;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  width: 100%;
}

.input-field:focus {
  outline: none;
  border-color: #931c19;
  box-shadow: 0 0 0 4px rgba(147, 28, 25, 0.2);
}

.borrowerType {
  margin: 0.75rem 1.5rem 0.75rem 0.5rem;
}

select {
  border: 1px solid #931c19;
  transition: ease;
}

select:focus {
  outline: none;
  border-color: #610101;
  box-shadow: 0 0 0 4px rgba(97, 1, 1, 0.2);
}

input[type="submit"] {
  background-color: #610101;
  color: white;
  padding: 0.6rem 1.2rem;
  box-shadow: 0 4px 10px rgba(147, 28, 25, 0.3);
  transition: background 0.5s ease-in-out, transform 0.2s ease-in-out;
}

input[type="submit"]:hover {
  transform: translateY(-2px);
  background-position: right;
  box-shadow: 0 8px 15px rgba(147, 28, 25, 0.4);
  background: linear-gradient(#931c19, #610101);
  transition: background 0.2s ease, transform 0.2s ease-in-out;
}

.errors {
  color: #dc2626;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
    width: 90vw;
    max-height: none;
    height: auto;
  }

  .info-section {
    height: 2rem !important;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .form-section {
    max-height: none;
    overflow-y: visible;
  }

  form {
    max-height: none;
    overflow-y: visible;
  }

  .image img {
    display: none;
  }

  .info-section,
  .form-section {
    width: 100% !important;
  }
}

.terms-and-con {
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login span {
  color: blue;
  text-decoration: underline;
}
.modal-content h2 {
  color: #931c19;
}

.numbered-list > li {
  font-weight: 800 !important;
  color: #931c19;
}

.numbered-list > ul {
  list-style-type: disc;
}

.font-bold {
  list-style: none;
  color: black;
}