* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(../images/library.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  font-size: 0.8rem;
  position: relative;
  height: 100%;
  transition: background-size 0.5s ease;
}

.color-layer {
  background: linear-gradient(rgba(128, 81, 80, 0.4), rgba(51, 22, 22, 0.6));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

header {
  color: white;
}

.book-card-base {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 2px solid #f3f4f6;
  transition: all 300ms ease-in-out;
}

.book-card-base:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-color: #991b1b;
}

/* Style for the book cover placeholder div */
.book-cover-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0.25rem;
  font-size: 0.75rem; /* text-xs */
  color: #6b7280; /* text-gray-500 */
}

.list-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-color: red;
  position: fixed;
  padding: 1.5rem 6rem;
  box-shadow: 4px 0 10px rgba(204, 0, 0, 0.4);
  border-top: 0.4rem solid #931c19;
  transition: background 0.3s ease;
}

input[type="checkbox"] {
  height: 1.25rem;
  width: 1.25rem;
  color: #dc2626;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

input[type="checkbox"] :focus {
  outline: none;
  border: #ef4444;
}

/* Base link styles */
.tabs a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #6b7280; /* gray-500 */
  font-size: 1.125rem; /* text-lg */
  padding: 1rem 0.25rem;
  margin-right: 1.5rem;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.tabs a:hover {
  color: #374151; /* gray-700 */
  transform: translateY(-2px);
}

/* Animated underline */
.tabs a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: #610101;
  transition: transform 0.3s ease;
  border-radius: 2px;
}

/* Hover underline */
.tabs a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Active tab */
.tabs a.active {
  color: #7f1d1d; /* red-800 */
  font-weight: bold;
}

.tabs a.active::after {
  transform: translateX(-50%) scaleX(1);
  background-color: #7f1d1d; /* red underline for active tab */
}

.title {
  color: white !important;
}

