body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

nav {
    background-color: rgb(235, 233, 216);
    height: 6rem;
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 10px rgba(204, 0, 0, 0.4);
    border-bottom: 0.4rem solid #931c19;
    transition: background 0.3s ease;
    z-index:10;
    position: fixed;
}

aside {
    background: linear-gradient(#bd322f, #931c19, #610101);
}

.sidebar-top {
    height: 6rem;
    border-bottom: 0.4rem solid #931c19;
    transition: background 0.3s ease;
    z-index: 10;
}

.sidebar-main {
    height: auto;
}

.links {
    padding: 1rem 0 1rem 2rem;
}

.links:hover {
    background: linear-gradient(#931b19b4, #610101b4);
}

main {
    background-color: rgb(235, 233, 216);
    height: 100%;
}

.container {
    margin-top: 6rem;
}

.info {
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 2rem;    
}

.manage {
    padding: 0.5rem;
    background-color: white;
}

/* --- Base tab style --- */
#manageBooksBtn, #manageCategoriesBtn{
  background-color: white;
  color: #333;
  border-bottom: 5px solid #8b8b8b;
  border-right: 5px solid #8b8b8b;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-left: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.25s ease;
  box-shadow: 3px 3px 2px rgba(49, 49, 49, 0.1);
}

#manageBooksBtn:hover,
#manageCategoriesBtn:hover {
  background-color: #f3f3f3;
  color: #000;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.5) inset;
}

.btn-group {
  border-bottom: 1px solid #ccc;
}
